body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000000; /* Black background */
  color: #ffffff; /* White text */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #222222; /* Dark gray container background */
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Add a subtle box shadow */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

header h1 {
  font-size: 32px;
}

header img {
  max-width: 150px;
  border-radius: 50%;
}

.content {
  padding-top: 40px;
}

.section {
  margin-bottom: 40px;
  padding: 20px;
  background-color: #333333; /* Dark gray section background */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a subtle box shadow */
  animation: fade-in 1s ease;
}

.animated-text {
  animation: slide-up 1s ease;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-up {
  from {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0);
  }
}

.section h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.section p {
  line-height: 1.6;
}
